{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% macro section_item(form) %}
    {% import _self as formMacros %}

    <div class="d-flex flex-column">
        <div class="d-flex flex-row">
            <div class="flex-grow-1">
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
            </div>

            <button type="button" class="align-self-center btn-close" aria-label="Close"
                    data-action="tracker-create#removeSection"></button>
        </div>

        <div>
            <b>{{ form_label(form.causes) }}</b>
            <button type="button" class="btn fas fa-plus" data-action="section-create#addCause"></button>

            {% for cause in form.causes %}
                {{ formMacros.cause_item(cause) }}
            {% endfor %}
        </div>

    </div>
{% endmacro %}

{% macro cause_item(form) %}
    <div class="input-group">
        <span class="input-group-text">Cause and alias</span>
        {{ form_widget(form.cause, {'attr': {'class': 'form-control'}}) }}
        {{ form_widget(form.alias, {'attr': {'class': 'form-control'}}) }}
        <span class="input-group-text">Deaths</span>
        {{ form_widget(form.deaths, {'attr': {'class': 'form-control'}, 'value': form.deaths.vars.value |default(0)}) }}
        <button type="button" class="btn align-self-center fa fa-trash-alt" aria-label="Close"
                data-action="section-create#removeCause"></button>
    </div>
{% endmacro %}

{% import _self as formMacros %}
    {{ form_start(form) }}

    {{ form_label(form.name, 'Tracker Name') }}
    {{ form_widget(form.name) }}

<div class="mb-3">
    <h3>Sections
        <button type="button" class="btn fas fa-plus" data-action="tracker-create#addSection"></button>
    </h3>

    {% for section in form.sections %}
        {{ formMacros.section_item(section) }}
    {% endfor %}
</div>

<button class="btn btn-primary" type="submit">Submit</button>
{{ form_end(form, {render_rest: false}) }}
