<h3>{{ tracker.name }}</h3>
<div class="position-relative">
    {% if app.user %}
        <a href="{{ path('simplystream.edit_tracker', {id: tracker.id}) }}">Edit</a>
        <a href="{{ path('simplystream.get_tracker_overlay_total', {id: tracker.id}) }}">Total overlay</a>
        <a href="{{ path('simplystream.get_trackers') }}">Back</a>

        <button class="btn btn-primary position-absolute end-0" id="publicLinkButton" data-bs-toggle="modal"
                data-bs-target="#publicLinkModal">
            Share
        </button>

        <div class="modal fade" id="publicLinkModal" tabindex="-1" aria-labelledby="publicLinkModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Public Link</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="publicLinkInput"
                                   placeholder="Waiting for public link ..."
                                   aria-label="Public link">
                            <button class="btn btn-outline-secondary fa fa-copy" type="button" id="copyButton"
                                    disabled></button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            // Ignore this, or better, override it!
            const copyButton = document.getElementById('copyButton');
            const publicLinkInput = document.getElementById('publicLinkInput');

            function copyPublicLink() {
                const copyText = publicLinkInput.value;
                navigator.clipboard.writeText(copyText);
            }

            async function getPublicUrl() {
                const publicUrl = await fetch("{{ url('simplystream.get_tracker_public_url', {id: tracker.id}) }}")
                    .then(response => response.json())
                    .then(json => json.publicUrl);

                if (publicUrl) {
                    copyButton.disabled = false;
                    publicLinkInput.value = publicUrl;
                } else {
                    publicLinkInput.value = 'Error!';
                }
            }

            const publicLinkButton = document.getElementById('publicLinkButton');
            publicLinkButton.onclick = getPublicUrl;
            copyButton.onclick = copyPublicLink;
        </script>
    {% endif %}
</div>

{% for section in tracker.sections %}
    <div data-section-order="{{ loop.index - 1 }}" class="my-4">
        <h5>{{ section.title }}</h5>

        <div class="container">
            <div class="row border-bottom border-2 border-dark">
                <div class="col-8">
                    <b>Cause</b>
                </div>

                <div class="col-2 text-end">
                    <b>Deaths</b>
                </div>

                <div class="col-2 text-end">
                    <b>Percent</b>
                </div>
            </div>

            {% if section.deaths |length > 0 %}
                {% set sectionDeaths = 0 %}
                {% for death in section.deaths %}
                    <div class="row p-1 {{ death.successful ? 'bg-success' : '' }}"
                         style="--bs-bg-opacity: .5"
                         id="{{ death.id }}">
                        <div class="col-8"
                             data-bs-toggle="tooltip"
                             data-bs-placement="top"
                             title="{{ death.alias }}">
                            {{ death.cause }}
                        </div>
                        <div class="col-2 text-end">{{ death.deaths }}</div>
                        <div class="col-2 text-end">{{ (total > 0 ? (death.deaths / total * 100) : 0) |number_format(2, ',', '.') }}</div>
                        {% set sectionDeaths = sectionDeaths + death.deaths %}
                    </div>
                {% endfor %}

                <div class="row border-top border-1 border-dark">
                    <div class="col-8 fw-bold">Total</div>
                    <div class="col-2 text-end">{{ sectionDeaths }}</div>
                    <div class="col-2 text-end">{{ (total > 0 ? (sectionDeaths / total * 100) : 0) |number_format(2, ',', '.') }}</div>
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}
